# =========================
# DATA
# =========================
data/raw/*
data/processed/*

# kepp file
!data/raw/.gitkeep
!data/processed/.gitkeep

# =========================
# ENV
# =========================
miRNA_env/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# =========================
# SISTEM
# =========================
.DS_Store
